<!DOCTYPE html>
<!--
    Name: Jonathan Dinh
    Date: 05.01.2021
    Section: CS 355

    This is the page that allows teachers to create a new class that is accessible for students to
    enroll in. It contains a form that allows teachers to fil out details for the class, including
    the course name, department, instructor name, schedule, enrollment deadline, capacity, and 
    description.
-->
<html lang="en">
    <head>
        <meta charset = utf-8 />
        <title>Create A Course</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" 
        integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" 
        crossorigin="anonymous">
        <link rel="stylesheet" href="https://bootswatch.com/4/journal/bootstrap.min.css"/>
        <link rel="stylesheet" href="../css/styles.css">
    </head>

    <body>
        <header>
            <a href="/facultycenter"><img class="createcourseimg" src="img/qc_logo.jpg" alt="Queens College logo"></a> <!--QC Logo will appear on every webpage-->
        </header>

        <%- include ('./partials/messages'); %> 

        <div class="createaclass">
            <h2>Create A Course</h2>
            <!-- Form -->
            <form action="/createacourse" method="POST" id="createacourse">
                <!--Dropdown menu to select a semester-->
                <div class="dropdown">
                    <label for="semester-dropdown">Semester</label>
                    <select name ="semester" id="semester-dropdown">
                      <option value="Summer 2021">Summer 2021</option>
                      <option value="Fall 2021">Fall 2021</option>
                      <option value="Winter 2022">Winter 2022</option>
                      <option value="Spring 2022">Spring 2022</option>
                    </select>
                </div>
                <!--form fields for instructor to fill out-->
                <label for="subject"> Subject</label> <br>
					<select name="subject" id="subject">
						<option value="" selected="selected">&nbsp; </option>
						<option value="AACS">AACS - Asian Amer Commun. Std</option>
						<option value="ACCT">ACCT - Accounting</option>
						<option value="AFST">AFST - Africana Studies</option>
						<option value="ANTH">ANTH - Anthropology</option>
						<option value="ARAB">ARAB - Arabic</option>
						<option value="ARTH">ARTH - Art History</option>
						<option value="ARTS">ARTS - Studio Art</option>
						<option value="ASL">ASL - American Sign Language</option>
						<option value="ASTR">ASTR - Astronomy</option>
						<option value="BALA">BALA - Business &amp; Liberal Arts</option>
						<option value="BIOCH">BIOCH - Bio-Chemistry</option>
						<option value="BIOL">BIOL - Biology</option>
						<option value="BUS">BUS - Business</option>
						<option value="CHEM">CHEM - Chemistry</option>
						<option value="CHIN">CHIN - Chinese</option>
						<option value="CLAS">CLAS - Classics</option>
						<option value="CMAL">CMAL - Clas, Mid East &amp; Asian</option>
						<option value="CMLIT">CMLIT - Comparative Literature</option>
						<option value="CO-OP">CO-OP - Cooperative Education</option>
						<option value="CSCI">CSCI - Computer Science</option>
						<option value="DANCE">DANCE - Dance</option>
						<option value="DATA">DATA - Data Analytics</option>
						<option value="DRAM">DRAM - Drama and Theatre</option>
						<option value="EAST">EAST - East Asian Studies</option>
						<option value="ECON">ECON - Economics</option>
						<option value="ECPCE">ECPCE - Counselor Education</option>
						<option value="ECPEL">ECPEL - Educ Comm Prog-Leader</option>
						<option value="ECPSE">ECPSE - Special Education</option>
						<option value="ECPSP">ECPSP - School Psychology</option>
						<option value="EECE">EECE - Elem &amp; Early Childhood</option>
						<option value="ENGL">ENGL - English</option>
						<option value="ENSCI">ENSCI - Environmental Science</option>
						<option value="EURO">EURO - European Studies</option>
						<option value="FNES">FNES - Family, Nut &amp; Exercis</option>
						<option value="FREN">FREN - French</option>
						<option value="GEOL">GEOL - Geology</option>
						<option value="GERM">GERM - German</option>
						<option value="GREEK">GREEK - Greek</option>
						<option value="GRKMD">GRKMD - Modern Greek</option>
						<option value="GRKST">GRKST - Byzan &amp; Mdrn Greek St</option>
						<option value="HEBRW">HEBRW - Hebrew</option>
						<option value="HIST">HIST - History</option>
						<option value="HMNS">HMNS - Honors in Math &amp; Sci</option>
						<option value="HNRS">HNRS - Honors</option>
						<option value="HSS">HSS - Honors in Social Science</option>
						<option value="HTH">HTH - Honors in the Humanities</option>
						<option value="IRST">IRST - Irish Studies</option>
						<option value="ITAL">ITAL - Italian</option>
						<option value="JAZZ">JAZZ - Jazz</option>
						<option value="JEWST">JEWST - Jewish Studies</option>
						<option value="JPNS">JPNS - Japanese</option>
						<option value="KOR">KOR - Korean</option>
						<option value="LABST">LABST - Labor Studies</option>
						<option value="LATIN">LATIN - Latin</option>
						<option value="LBSCI">LBSCI - Library Science</option>
						<option value="LCD">LCD - Ling &amp; Commun Disorders</option>
						<option value="LIBR">LIBR - Library</option>
						<option value="MATH">MATH - Mathematics</option>
						<option value="MEDST">MEDST - Media Studies</option>
						<option value="MES">MES - Middle Eastern Studies</option>
						<option value="MUSIC">MUSIC - Music</option>
						<option value="PHIL">PHIL - Philosophy</option>
						<option value="PHYS">PHYS - Physics</option>
						<option value="PORT">PORT - Portuguese</option>
						<option value="PSCI">PSCI - Political Science</option>
						<option value="PSYCH">PSYCH - Psychology</option>
						<option value="PHOTO">Photography</option>
						<option value="QNS">QNS - Queens</option>
						<option value="RLGST">RLGST - Religious Studies</option>
						<option value="RM">RM - Risk Management</option>
						<option value="RUSS">RUSS - Russian</option>
						<option value="SEEK">SEEK - SEEK Academic Program</option>
						<option value="SEYS">SEYS - Secondary Edu &amp; Youth</option>
						<option value="SEYSL">SEYSL - Sec Educ: Literacy Edu</option>
						<option value="SOC">SOC - Sociology</option>
						<option value="SPAN">SPAN - Spanish</option>
						<option value="STPER">STPER - Student Personnel</option>
						<option value="URBST">URBST - Urban Studies</option>
						<option value="WGS">WGS - Women and Gender Studies</option>
					</select> <br>
                <label for="coursenumber">Course Number</label>
                <input type="number" id="coursenumber" Name="coursenumber" placeholder="Course Number" required="">

                <label for="department">Department</label>
                <input type="text" id="department" name="department" placeholder="Department" required="">
                
                <label for="instructor">Instructor</label>
                <input type="text" id="instructor" name="instructor" placeholder="Instructor" required="">

                <label>Course Days</label> <br>
                <input type="checkbox" id="monday" name="coursedays" value="Monday">
                <label for="monday">Monday</label> <br>
                <input type="checkbox" id="tueday" name="coursedays" value="Tuesday">
                <label for="tueday">Tuesday</label> <br>
                <input type="checkbox" id="wednesday" name="coursedays" value="Wednesday">
                <label for="wednesday">Wednesday</label> <br>
                <input type="checkbox" id="thursday" name="coursedays" value="Thursday">
                <label for="thursday">Thursday</label> <br>
                <input type="checkbox" id="friday" name="coursedays" value="Friday">
                <label for="friday">Friday</label> <br>
                <input type="checkbox" id="saturday" name="coursedays" value="Saturday">
                <label for="saturday">Saturday</label> <br>
                <input type="checkbox" id="sunday" name="coursedays" value="Sunday">
                <label for="sunday">Sunday</label> <br>

                <label for="coursestart">Course Start Time</label>
                <input type="time" id="coursestart" name="coursestart" required>

                <label for="courseend">Course End Time</label>
                <input type="time" id="courseend" name="courseend" required>

                <label for="enrollmentdeadline">Enrollment Deadline</label>
                <input type="date" id="enrollmentdeadline" name="enrollmentdeadline" placeholder="Enrollment Deadline" required="">

                <label for="capacity">Capacity</label>
                <input type="number" id="capacity" name="capacity" placeholder="Capacity" required="">

                <label for="description">Description</label>
                <textarea id="description" name="description" placeholder="Description" required="" rows="4" cols="50"></textarea>

                <div class = "submitbtn">
                    <input type="submit" class="createaclassbtn" value="SUBMIT">
                </div>
            </form>
            <!-- //Form -->
        </div>
        <script
        src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"
      ></script>
      <script
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"
      ></script>
      <script
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"
      ></script>
    </body>
</html>

<!--Sources-->
<!--https://learn.zybooks.com/zybook/CUNYCSCI355AbramovSpring2021/chapter/2/section/12?content_resource_id=45024666-->
<!--https://learn.zybooks.com/zybook/CUNYCSCI355AbramovSpring2021/chapter/2/section/11-->
<!--https://www.w3schools.com/tags/tag_textarea.asp-->